body {
    background-color: rgb(52,53,65);
}

#main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(52, 53, 65);
    overflow: hidden;
}

#sidebar {
    width: 150px;
    height: 100vh;
    margin: 0;
    padding: 8px;
    background-color: rgb(32, 33, 35)
}

#chat-history {
    overflow-y: auto !important;
    height: calc(100vh - 120px);
}

#chat-container {
    flex-grow: 1;
    height: 100vh;
    background-color: rgb(52, 53, 65);
    font-family: Arial, sans-serif;
    overflow-y: scroll;
}

#textarea-container {
    background-color: rgb(52, 53, 65);
    font-family: Arial, sans-serif;
}

#thread {
    height: calc(100vh - 160px);
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
}

#newChatButton {
    background-color: rgb(32, 33, 35);
    color: white;
    border-color: hsla(0,0%,100%,.2);
    border-width: 1px;
    padding: 12px;
    text-align: left;
    width: 90%;
    height: 45px;
    border-radius: 0.375rem;
    font-size: .875rem;
    margin-bottom: 40px;
}

#newChatButton:hover {
    background-color: rgb(52, 53, 65);
    cursor: pointer;
}

#regenerateButton {
    visibility: hidden;
    background-color: rgba(52,53,65);
    border-color: rgba(86,88,105);
    color: rgba(217,217,227);
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    padding: 12px;
    margin-left: 65%;
    margin-bottom: 10px;
}

#regenerateButton:hover {
    background-color: rgba(64,65,79);
    cursor: pointer;
}

.priorChatButton {
    background-color: rgb(32, 33, 35);
    color: white;
    border-color: hsla(0,0%,100%,.2);
    border-width: 0px;
    padding: 12px;
    text-align: left;
    width: 90%;
    height: 45px;
    border-radius: 0.375rem;
    font-size: .875rem;
}

.priorChatButton.active {
    background-color: rgb(52, 53, 65);
}

.priorChatButton:hover {
    background-color: rgb(52, 53, 65);
    cursor: pointer;
}

.chat-textarea {
    background-color: rgb(64, 65, 79);
    color: rgb(255, 255, 255);
    line-height: 24px;
    height: 24px;
    width: 80%;
    font-family: "Söhne", "ui-sans-serif", "system-ui", "-apple-syste", "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    padding: 16px;
    border-radius: 0.75rem;
    resize: none;
}

.message {
    width: 90%;
    color: #333;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    animation: fadeIn 0.5s
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/* Style the user's message */
.message.from-user {
    background-color: #fff;
}

/* Style ChatGPT's message */
.message.from-chatbot {
    background-color: #e1f5fe;
}

.message.loading {
    background-color: #dcdcdc;
}

.message.error {
    background-color: #e08686;
}
